# SPDX-FileCopyrightText: Copyright (c) 2024-2026, NVIDIA CORPORATION. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

## https://pre-commit.com/
#
# Before first use: `pre-commit install`
# To run: `pre-commit run --all-files`
exclude: '^thirdparty'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
      - id: yesqa
        additional_dependencies:
          - flake8==7.1.1
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.4
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.3.3
    hooks:
      - id: verify-copyright
        args: [--fix, --spdx]
        files: |
          (?x)
            [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
            CMakeLists[.]txt$|
            CMakeLists_standalone[.]txt$|
            [.]flake8[.]cython$|
            meta[.]yaml$|
            setup[.]cfg$|
            dependencies[.]yaml$|
            ^[.]pre-commit-config[.]yaml$|
            pyproject[.]toml$|
            recipe[.]yaml$|
            pytest[.]ini$|
            [.]flake8$|
            [.]coveragerc$
      - id: verify-alpha-spec
      - id: verify-hardcoded-version
        exclude: |
          (?x)
            devcontainer[.]json$|
            dependencies[.]yaml$|
            ^[.]github/workflows/|
            [.]md$|
            pom[.]xml$|
            ^[.]pre-commit-config[.]yaml$|
            [.]rst$|
            ^conda/environments/|
            ^python/cugraph-pyg/conda/|
            [.](png)$
      - id: verify-pyproject-license
        # ignore the top-level pyproject.toml, which doesn't
        # have or need a [project] table
        exclude: |
          (?x)
            ^pyproject[.]toml$
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
        - id: rapids-dependency-file-generator
          args: ["--clean", "--warn-all", "--strict"]
  - repo: local
    hooks:
        - id: cmake-format
          name: cmake-format
          entry: ./cpp/scripts/run-cmake-format.sh cmake-format
          language: python
          types: [cmake]
          #exclude: .*/thirdparty/.*
          # Note that pre-commit autoupdate does not update the versions
          # of dependencies, so we'll have to update this manually.
          additional_dependencies:
            - cmakelang==0.6.13
          verbose: true
          require_serial: true
        - id: cmake-lint
          name: cmake-lint
          entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
          language: python
          types: [cmake]
          #exclude: .*/thirdparty/.*
          # Note that pre-commit autoupdate does not update the versions
          # of dependencies, so we'll have to update this manually.
          additional_dependencies:
            - cmakelang==0.6.13
          verbose: true
          require_serial: true
