name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - devcontainer
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-python-build
      - conda-python-build-noarch
      - conda-python-tests
      - docs-build
      - wheel-build-libwholegraph
      - wheel-build-pylibwholegraph
      - wheel-tests-pylibwholegraph
      - wheel-build-cugraph-pyg
      - wheel-tests-cugraph-pyg
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  check-nightly-ci:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
    env:
      GH_TOKEN: ${{ github.token }}
      SHARED_ACTIONS_REF: 'check-nightly-success'
    steps:
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@check-nightly-success
        with:
          repo: ${{ github.repository }}
          target-branch: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
  changed-files:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        build_docs:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_*pytests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!mg_utils/**'
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/notebook_list.py'
          - '!ci/release/update-version.sh'
          - '!ci/run_*pytests.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!img/**'
          - '!mg_utils/**'
          - '!python/**'
          - '!readme_pages/**'
        test_python_conda:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/Doxyfile'
          - '!cpp/docs/**'
          - '!cpp/doxygen/**'
          - '!img/**'
          - '!mg_utils/**'
          - '!readme_pages/**'
        test_python_wheels:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!README.md'
          - '!ci/build_cpp.sh'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!conda/**'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/Doxyfile'
          - '!cpp/docs/**'
          - '!cpp/doxygen/**'
          - '!img/**'
          - '!mg_utils/**'
          - '!readme_pages/**'
  devcontainer:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_cpp.sh
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  conda-python-build-noarch:
    needs: [conda-cpp-build, conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python_noarch.sh
      pure-conda: true
  conda-python-tests:
    needs: [conda-python-build, conda-python-build-noarch, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      matrix_filter: map(select(.ARCH == "amd64"))
      script: ci/test_python.sh
  docs-build:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).build_docs
    with:
      arch: "amd64"
      build_type: pull-request
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/build_docs.sh"
  wheel-build-libwholegraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_wheel_libwholegraph.sh
      node_type: cpu8
      package-name: libwholegraph
      package-type: cpp
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheel-build-pylibwholegraph:
    needs: [checks, wheel-build-libwholegraph]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_pylibwholegraph.sh
      package-name: pylibwholegraph
      package-type: python
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-tests-pylibwholegraph:
    needs: [wheel-build-pylibwholegraph, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibwholegraph.sh
      matrix_filter: map(select(.ARCH == "amd64"))
  wheel-build-cugraph-pyg:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # This selects "ARCH=amd64 + the latest supported Python + CUDA".
      matrix_filter: map(select(.ARCH == "amd64")) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      build_type: pull-request
      node_type: cpu4
      script: ci/build_wheel_cugraph-pyg.sh
      package-name: cugraph-pyg
      package-type: python
      pure-wheel: true
  wheel-tests-cugraph-pyg:
    needs: [wheel-build-pylibwholegraph, wheel-build-cugraph-pyg, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-pyg.sh
      matrix_filter: map(select(.ARCH == "amd64"))
