name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - devcontainer
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - conda-notebook-tests
      - wheel-build-libwholegraph
      - wheel-build-pylibwholegraph
      - wheel-tests-pylibwholegraph
      - wheel-build-cugraph-pyg
      - wheel-tests-cugraph-pyg
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  check-nightly-ci:
    runs-on: ubuntu-latest
    env:
      RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: cugraph-gnn
  changed-files:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!img/**'
          - '!mg_utils/**'
          - '!notebooks/**'
          - '!python/**'
          - '!readme_pages/**'
        test_notebooks:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!readme_pages/**'
        test_python:
          - '**'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!img/**'
          - '!notebooks/**'
          - '!readme_pages/**'
  devcontainer:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.0"]'
      node_type: "cpu8"
      rapids-aux-secret-1: GIST_REPO_READ_ORG_GITHUB_TOKEN
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
        SCCACHE_DIST_AUTH_TOKEN_VAR=RAPIDS_AUX_SECRET_1
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-notebook-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_notebooks
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.02-latest"
      script: "ci/test_notebooks.sh"
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      # TODO: remove the CUDA 13 exclusion here once there are pytorch CUDA 13 packages
      #  ref: https://github.com/pytorch/pytorch/issues/159779
      matrix_filter: map(select(.ARCH == "amd64" and (.CUDA_VER | startswith("12"))))
      script: ci/test_python.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  docs-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      arch: "amd64"
      build_type: pull-request
      container_image: "rapidsai/ci-conda:26.02-latest"
      script: "ci/build_docs.sh"
  wheel-build-libwholegraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_wheel_libwholegraph.sh
      node_type: cpu8
      package-name: libwholegraph
      package-type: cpp
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-build-pylibwholegraph:
    needs: [checks, wheel-build-libwholegraph]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_pylibwholegraph.sh
      package-name: pylibwholegraph
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-tests-pylibwholegraph:
    needs: [wheel-build-pylibwholegraph, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibwholegraph.sh
      matrix_filter: map(select(.ARCH == "amd64"))
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-build-cugraph-pyg:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # This selects "ARCH=amd64 + the latest supported Python + CUDA".
      matrix_filter: map(select(.ARCH == "amd64")) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cugraph-pyg.sh
      package-name: cugraph-pyg
      package-type: python
      pure-wheel: true
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-tests-cugraph-pyg:
    needs: [wheel-build-pylibwholegraph, wheel-build-cugraph-pyg, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-pyg.sh
      matrix_filter: map(select(.ARCH == "amd64"))
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
