name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - changed-files
      - checks
      - conda-cpp-build
      # - conda-cpp-tests
      - conda-python-build
      - conda-python-tests
      - wheel-build-pylibwholegraph
      # - wheel-tests-pylibwholegraph
      - wheel-build-cugraph-dgl
      - wheel-tests-cugraph-dgl
      - wheel-build-cugraph-pyg
      - wheel-tests-cugraph-pyg
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-24.12
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  changed-files:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@branch-24.12
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainers/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!mg_utils/**'
          - '!notebooks/**'
          - '!python/**'
          - '!readme_pages/**'
        test_notebooks:
          - '**'
          - '!.devcontainers/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!docs/**'
        test_python:
          - '**'
          - '!.devcontainers/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-24.12
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@branch-24.12
    with:
      build_type: pull-request
      node_type: cpu32
  # conda-cpp-tests:
  #   needs: [conda-cpp-build, changed-files]
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@branch-24.12
  #   if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
  #   with:
  #     build_type: pull-request
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-24.12
    with:
      build_type: pull-request
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@branch-24.12
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
  wheel-build-pylibwholegraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.12
    with:
      build_type: pull-request
      script: ci/build_wheel_pylibwholegraph.sh
      node_type: cpu32
  # wheel-tests-pylibwholegraph:
  #   needs: [wheel-build-pylibwholegraph, changed-files]
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.12
  #   if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
  #   with:
  #     build_type: pull-request
  #     script: ci/test_wheel_pylibwholegraph.sh
  #     matrix_filter: map(select(.ARCH == "amd64"))
  wheel-build-cugraph-dgl:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.12
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph-dgl.sh
  wheel-tests-cugraph-dgl:
    needs: [wheel-build-pylibwholegraph, wheel-build-cugraph-dgl, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.12
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-dgl.sh
      matrix_filter: map(select(.ARCH == "amd64"))
  wheel-build-cugraph-pyg:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.12
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph-pyg.sh
  wheel-tests-cugraph-pyg:
    needs: [wheel-build-pylibwholegraph, wheel-build-cugraph-pyg, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.12
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-pyg.sh
      matrix_filter: map(select(.ARCH == "amd64"))
